name: Lint and Test Code

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read # Default token to read

jobs:
  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: harden runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
          persist-credentials: false

      - name: Install llvm deps
        uses: ./.github/actions/install-llvm

      - name: 'cargo fmt'
        run: cargo fmt --all -- --check

  full-build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch:
        - x86_64
    env:
      TARGET_ARCH: "${{ matrix.arch }}"
    name: 'Full build linux-${{ matrix.arch }}'
    steps:
      - name: harden runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
          persist-credentials: false

      - name: Install llvm deps
        uses: ./.github/actions/install-llvm

      - name: cargo build
        run: cargo build

  clippy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
        - x86_64
    env:
      TARGET_ARCH: "${{ matrix.arch }}"
    name: 'Full clippy linux-${{ matrix.arch }}'
    steps:
      - name: harden runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
          persist-credentials: false

      - name: Install llvm deps
        uses: ./.github/actions/install-llvm

      - name: 'cargo clippy'
        run: cargo clippy
