name: Lint and Test Code

on:
  pull_request:
    branches:
      - main
    paths:
      - src/**
      - Cargo.*
      - rust-toolchain.toml
      - .github/workflows/ci-code.yaml

permissions:
  contents: read # Default token to read

jobs:
  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: recursive
          persist-credentials: false

      - name: Install llvm deps
        uses: ./.github/actions/install-llvm

      - name: 'cargo fmt'
        run: cargo fmt --all -- --check

  full-build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch:
        - x86_64
    env:
      TARGET_ARCH: "${{ matrix.arch }}"
    name: 'Full build linux-${{ matrix.arch }}'
    steps:
      - name: harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: recursive
          persist-credentials: false

      - name: Install llvm deps
        uses: ./.github/actions/install-llvm

      - name: cargo build
        run: cargo build

  clippy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
        - x86_64
    env:
      TARGET_ARCH: "${{ matrix.arch }}"
    name: 'Full clippy linux-${{ matrix.arch }}'
    steps:
      - name: harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: recursive
          persist-credentials: false

      - name: Install llvm deps
        uses: ./.github/actions/install-llvm

      - name: 'cargo clippy'
        run: cargo clippy
